.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // change for the <button> elemet
        border: none;
        cursor: pointer
    }

    &:hover {
        transform: translateY(-5%);
        box-shadow: 0 .3rem 1rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(1%);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: azure;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom .4s ease-out .75s;
        animation-fill-mode: backwards;
        /* fill mode biar jalannya aga ke delay gitu */
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        font-size: $default-font-size;
        transition: all .2s;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 .2rem 1rem rgba($color-black, .2rem);
        transform: translateY(-7%);
    }
    // active means click
    &:active {
        box-shadow: 0 .2rem 1rem rgba($color-black, .2rem);
        transform: translateY(5%)
    }
}